h1, h2, h3, h4, h5, h6 {
    font-family:'Bree Serif', serif;
}


body {
    margin-top:0px;
    margin-bottom:0px;
    font-family:'Indie Flower', cursive;
    background-image: url("https://i.ebayimg.com/images/g/RHcAAMXQvJVRVfzW/s-l300.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
    
#surveyarea {
    width: 60%;
    margin-left: 20%;
    background-color: rgb(233, 243, 248);
    margin-top:0px;
    padding-top: 50px;

}

#heading {
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    
}
#user {
    margin-left: 10px;

}

#Name, #E-mail, #Phonenumber {

    border-radius: 10px;
}
#ol2 {
    margin-bottom: 0;

}
#opinion {
    margin-top:  0%;
    padding-top: 0;

}

.button {
    background-color: rgb(147, 194, 149); 
    border-radius: 10px;
    color: rgb(12, 11, 11);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  